@{
    ViewBag.Title = "Iniciar Sesión.";
}
<h2>@ViewBag.Title.</h2>

<div class="container-fluid">
    <div class="container" style="height:100%">
        <div class="row" style="height:25%">
            <div class="col-12">
                <h1>Clínica de mascotas Rodrigo Facio</h1>
            </div>
        </div>
        <br />
        <div class="row" style="height:50%">
            <div class="col-12">
                <div class="container">
                    <div>
                        <form>
                            <div class="mb-3 row">
                                <label for="usuario" class="col-sm-2 col-form-label">Usuario</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="usuario" placeholder="" />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-2 col-form-label" for="contrasena">Contraseña</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="password" id="contrasena" placeholder="" />
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="height:25%">
            <div class="col-12">
                <div class="row">
                    <div class="col-4">
                        <p>¿Desea solicitar acceso?</p>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
